.myParty__container {
  position: relative;
}
/* 사람들 배치 grid버젼 */
.myParty__peoples__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  height: 100%;
  position: relative;
  margin-bottom: 0.5rem;
}

/* 사람들 배치 flex버젼 */
.myParty__peoples__flex {
  display: flex;
  flex-wrap: wrap;
}

.myParty__peoples__people {
  height: 100%;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 1px 1px rgba(0, 0, 0, 0.23);
  padding-bottom: 0.2rem;
  flex-basis: 50%;
}

.contents {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.readyOn {
  background-color: rgb(207, 254, 207);

  padding: 0px 0.3rem;
}

.contents span {
}

.readyOff {
  opacity: 0;
}

.male {
  color: blue;
}
.female {
  color: red;
}

.blank {
  height: 100%;
  opacity: 0.1;
  display: flex;
  justify-content: center;
  align-items: center;
}
