.myParty__peoples {
  display: flex;
  flex-wrap: wrap;
}

.myParty__peoples__people {
  display: flex;
  width: 50%;
  margin-bottom: 0.5rem;
}

.contents {
  display: flex;
  flex-direction: column;
}
