@value mainFontColor,buttonFontColor from '../../common/color.css';

.myParty__container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.btnGroup {
  display: flex;
  flex-direction: column;
}

.btnGroup__btn {
  font-size: 1rem;
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  background-color: white;
  border: 1px solid mainFontColor;
  border-radius: 10px;
  color: mainFontColor;
  width: 100%;
  margin-bottom: 0.3rem;
}

.btnGroup__right {
  display: flex;
  flex-basis: 50%;
}

.btnGroup__btn:hover {
  background-color: mainFontColor;
  color: white;
}

.btnGroup__btn:first-child {
  margin-right: 0.3rem;
}
/* 파티정보 */

.myParty__middle {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin-bottom: 0.5rem;
}

.partyInfo {
  height: 80%;
  border: 1px solid mainFontColor;
  padding: 0.2rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 40%;
}

.party__info {
  margin: 0;
  color: mainFontColor;
}
