@value mainFontColor,buttonFontColor from '../../common/color.css';

.myParty__container {
  height: 100%;
}

.btnGroup {
  display: flex;
}

.btnGroup__btn {
  font-size: 1.7rem;
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  background-color: white;
  border: 1px solid mainFontColor;
  border-radius: 10px;
  color: mainFontColor;
}

.btnGroup__btn:hover {
  background-color: mainFontColor;
  color: white;
}
