@value mainFontColor, tondownMainFontColor from '../../common/color.css';
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-color: tondownMainFontColor;
}

.content {
  overflow-y: scroll;
}

.chats {
  display: flex;
  flex-direction: column;
  padding: 0 0.8rem;
}

.chats li {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3rem;
  word-break: break-all;
}

.chats__mychat {
  align-items: flex-end;
}

.chats__content {
  display: flex;
  align-items: flex-end;
}

.chats__chat {
  border: 1px solid mainFontColor;
  border-radius: 10px;
  padding: 0.4rem 0.6rem;
  font-size: 1.4rem;
}

.chats__otherChat p:nth-child(1) {
  order: 2;
}

.chats__mychat .chats__chat {
  background-color: #6fbbf7;
}

.nickname {
  margin-top: 0.6rem;
  font-weight: bold;
  font-size: 1.2rem;
}
.inputBar {
  display: flex;
}
.input__text {
  width: 100%;
  font-size: 1.4rem;
  padding: 0.4rem 0;
}

.sendBtn {
  width: 10%;
  cursor: pointer;
}

.sendBtn {
  background-color: mainFontColor;
  outline: none;
  border: none;
  border-radius: 10px;
  color: white;
}
