@value mainFontColor, tondownMainFontColor from '../../common/color.css';
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-color: tondownMainFontColor;
}

.content {
  overflow-y: scroll;
}

.chats {
  display: flex;
  flex-direction: column;
}

.chats li {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3rem;
}

.chats__mychat {
  align-items: flex-end;
}

.chats__content {
  display: flex;
  align-items: flex-end;
}

.chats__chat {
  border: 1px solid mainFontColor;
  border-radius: 10px;
  padding: 0.4rem 0.6rem;
  font-size: 1.4rem;
}

.chats__mychat .chats__chat {
  background-color: #6fbbf7;
}

.inputBar {
  display: flex;
}
.input__text {
  width: 100%;
}

.sendBtn {
  width: 10%;
  cursor: pointer;
  height: 20%;
}
