.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.content {
  overflow-y: scroll;
}

.chats {
  display: flex;
  flex-direction: column;
}

.chats li {
  display: flex;
  flex-direction: column;
}

.chats__mychat {
  align-items: flex-end;
}

.chats__content {
  display: flex;
  align-items: flex-end;
}

.chats__chat {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.4rem 0.6rem;
  font-size: 1.4rem;
}
