@value mainFontColor from '../../../common/color.css';

.partyBtn {
  position: sticky;
  border: none;
  background: mainFontColor;
  color: white;
  padding: 0.4rem 0.6rem;
  border-radius: 1rem;
  font-weight: bold;
  top: 1000px;
  cursor: pointer;
}
