@value mainFontColor, unActivedColor from '../../common/color.css';

.headers {
  border-bottom: 1px solid mainFontColor;
  color: mainFontColor;
  font-family: cursive;
}

.container {
  display: flex;
  justify-content: space-between;
}
.logo__title {
  margin: 0;
}

div span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.male {
  color: blue;
}
