.container {
  height: 100%;
  display: flex;
}

.map__group {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
  max-height: 50%;
  border-bottom: 3px solid black;
}

.map_container {
  height: 100%;
  width: 100%;
  resize: vertical;
}

/* 드레그 버튼 */
.dragBtn {
  width: 100px;
  height: 100px;
  background-color: black;
  cursor: move;
}
