.partyContainer {
  display: flex;
  flex-direction: column;
  width: 96%;
  margin: 0.5rem;
}

.partyItem {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16), 0 1px 1px rgba(0, 0, 0, 0.23);
  border-radius: 0.2rem;
  padding: 0.8rem 0.6rem;
  margin-top: 0.4rem;
}

h3 {
  margin: 0;
}
p {
  margin: 0;
}
