.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 30%;
}

.container > * {
  transform: translateY(-50%);
}
.info {
  border: 1px solid black;
  width: 100%;
  text-align: center;
}

.logout {
  width: 100%;
}
