@value mainFontColor from '../../common/color.css';

.authTitle {
  color: mainFontColor;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}

.authForm__item,
.gender__container {
  width: 100%;
}

.form_signup {
  margin: 0.7rem 0;
  cursor: pointer;
}

.auth_btn {
  font-size: 1rem;
  width: 100%;
  padding: 0.6rem 0;
  background-color: mainFontColor;
  outline: none;
  border: 1px solid mainFontColor;
  border-radius: 0.3rem;
  color: white;
  cursor: pointer;
}

.gender__container {
  color: mainFontColor;
}

.form_signup {
  color: mainFontColor;
}

.sno_gender {
  display: flex;
}

.auth_btn:hover {
}
