.authForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}

.authForm__item,
.gender__container {
  width: 100%;
}

.form-signup {
  margin-bottom: 1rem;
}
